@using Webshop.Models.Pages
@using Webshop.Models.ViewModels

@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

<div class="row">
    <div class="span4">
        @{
            DefaultPageViewModel<SitePageData> basemodel = new DefaultPageViewModel<SitePageData>(Model.CurrentPage);
            Html.RenderPartial("SubNavigation", basemodel);
        }

        @RenderSection("RelatedContent", false)
    </div>
    <div class="span8">
        @RenderBody()
    </div>
</div>
