
@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

<div class="row">
    <div class="span9">
        @RenderBody()
    </div>
    <div class="span3">
        @if (IsSectionDefined("RelatedContent"))
        {
            @RenderSection("RelatedContent")
        }
    </div>
</div>
